{% extends 'dashboard.html' %}

{% block modal_title %}
    Enregistrer un nouveau patient
{% endblock %}


{% block modal_content %}
    <form>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">PATIENT</label>
            <input type="text" class="form-control" name="patient" placeholder="patient"
                   id="patient" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}


{% block content %}
    <div class="card border-secondary mb-3">
        <div class="card-header" style="text-align: center">Patient</div>
        <div class="card-body">
            <!-- Bouton call modal -->
            <div class="row">
                <div class="col-md-1 ml-auto">
                    <a href="{% url 'addmedecin' %}">
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal"
                            onclick="rafraichirtypeparc()">Nouveau
                    </button>
                    </a>
                </div>
            </div>
            <!-- /Bouton call modal-->

            <!--datatable-->
            <div class="container-fluid">
                <div style=" width: auto; height: 100vh; z-index: 99"><!--margin-top:70.5px;-->
                    {% if message %}
                        <ul class="message">
                            {% for message in messages %}
                                <li>
                                    <div class="alert alert-success">{{ message }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>NOM MEDECIN</th>
                            <th>CONTACT</th>
                            <th>Actions</th>
                        </thead>
                        <tbody>
                        {% for medecin in medecins %}
                        <tr>
                            <td>{{ medecin.prenom_medecin }}{{ ' ' }}{{ medecin.nom_medecin }}</td>
                            <td>{{ medecin.contact_medecin }}</td>

                            <td>
                                {#                            <button type="button" class="btn btn-info">#}
                                {#                                <i class="fa fa-eye" aria-hidden="true"></i>#}
                                {#                            </button>#}
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <a href="#">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </a>

                            </td>
                        </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- /datatable-->

        </div>
    </div>


    <div class="container">
        <!-- Button to Open the Modal -->
    </div>



{% endblock %}